form {
  margin-top: 120px;
  margin-left: 300px;
}

button {
  border: 2px solid silver;
  margin-top: 10px;
}

button:hover {
  transform: scale(1.09);
}
a:hover {
  transform: scale(1.09);
}

input {
  cursor: pointer;
}

.row {
  padding-left: 60px;
  padding-right: 50px;

  /* margin-left: 60px;
  margin-right: 50px; */
}
